<div class="wrapper fadeInDown">
    <div id="formContent">
  
      <div class="fadeIn first">
            <i class="glyphicon glyphicon-user" style="font-size:30px;"></i>
      </div>
  
      <form id="login-form" 
        class="form text"
        (ngSubmit)="onLoginUser(f)"
        #f="ngForm">
        <input type="text" 
        id="username" 
        class="fadeIn second" 
        name="username" 
        placeholder="username"
        ngModel>
        <input type="text" 
        id="password" 
        class="fadeIn third" 
        name="password" 
        placeholder="password"
        ngModel>
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
    </div>
  </div>