<div class="wrapper fadeInDown">
        <div id="formContent">
      
          <div class="fadeIn first">
                <i class="glyphicon glyphicon-send" style="font-size:30px;"></i>
          </div>
      
          <form id="register-form" 
            class="form text"
            (ngSubmit)="onRegisterUser(f)"
            #f="ngForm">

            <input type="text" 
            id="username" 
            class="fadeIn second" 
            name="username" 
            placeholder="username"
            ngModel>

            <input type="text" 
            id="password" 
            class="fadeIn third" 
            name="password" 
            placeholder="password"
            ngModel>

            <input type="text" 
            id="repassword" 
            class="fadeIn third" 
            name="repassword" 
            placeholder="confirm password"
            ngModel>

            <input type="submit" class="fadeIn fifth" value="Sign up">
          </form>
      
        </div>
      </div>